# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea/

# testing
coverage/

# expo / react native
.expo/
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*
